.button {
	background-color: cornflowerblue;
	outline: none;
	color: cornsilk;
	border-radius: 6%;
	padding: 5px;
	width: 100px;
	box-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0, .7);
}

.button:hover {
	background-color: rgb(159, 190, 248);
	cursor: pointer;
}

.button:focus {
	outline: none !important;
}

.button:active {
	outline: none !important;
}
