.modal {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	top: 60%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -79%);
	height: auto;
	z-index: 10;
	overflow: hidden;
	background: transparent;
	border-radius: 10px;
}
